<div class="d-flex justify-content-center align-items-center flex-column w-100 bg-dark text-light">
  <div class="d-flex justify-content-between w-100 mb-2 p-3">
    <div class="w-30">
      <h1>cart app</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus nihil ea quod possimus, praesentium repudiandae provident? Alias, dolor sunt? Explicabo repellat recusandae harum esse maxime, delectus repudiandae rem cum suscipit!</p>
    </div>
    <div>
      <h5>Help</h5>
      <p>Home</p>
      <p>Wishlist</p>
      <p>Cart</p>
    </div>
    <div>
      <h5>Registered Address</h5>
      <p>Manhattan
        <br>
        New York
        <br>
        USA
        <br>
        10001
      </p>
    </div>
    <div>
      <h5>Contact Us</h5>
      <input type="text" placeholder="message here">
      <button>Submit</button>
      <div>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-github"></i>
      </div>
    </div>
  </div>
</div>
